Form Value: {{ value}}
<hr/>

<form [formGroup]="test">
  Range 1:
  <ngx-range formControlName="range" [selectOptions]="ranges"></ngx-range>
  <br>
  <table>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastname">
        </mat-form-field>
      </td>
    </tr>
  </table>
  Range 2:
  <ngx-range formControlName="range2" [selectOptions]="ranges"></ngx-range>
</form>

